 .u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1163px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 959px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1133px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 67px 185px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 496px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,0.4);
  margin: 59px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 474px;
  height: 371px;
  box-shadow: 0 0 31px 0 rgba(26,26,26,0.55);
  margin: -108px 308px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 548px;
  min-height: 417px;
  height: auto;
  margin: -759px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 38px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 14px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 64px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 10px -17px 0 0;
}

.u-section-2 .u-group-2 {
  width: 301px;
  min-height: 286px;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.6;
  margin: -40px 20px 30px 0;
}

.u-section-2 .u-group-3 {
  width: 385px;
  min-height: 494px;
  background-image: none;
  height: auto;
  margin: -330px 0 60px auto;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px -12px 0 22px;
}

.u-section-2 .u-line-2 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 41px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 10px -12px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 31px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 49px;
  }

  .u-section-2 .u-line-1 {
    width: 53px;
    height: 3px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 49px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-icon-2 {
    height: 53px;
    width: 53px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 29px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-line-2 {
    width: 53px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 246px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 48px;
    margin-right: 39px;
  }

  .u-section-2 .u-line-1 {
    width: 41px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 39px;
    margin-bottom: 48px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 22px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-line-2 {
    width: 40px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 139px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 470px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -82px;
    margin-right: 66px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 35px;
    margin-right: 18px;
  }

  .u-section-2 .u-line-1 {
    width: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 18px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-icon-2 {
    height: 38px;
    width: 38px;
    margin-top: 35px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
    margin-bottom: 24px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 17px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 53px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-line-2 {
    width: 38px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 296px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 266px;
    margin-top: 92px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -654px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 12px;
  }

  .u-section-2 .u-line-1 {
    width: 32px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-top: 25px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 20px;
    margin-bottom: 22px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 26px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 32px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 20px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-shape-1 {
  width: 452px;
  height: 419px;
  margin: 60px 42px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 457px;
  height: 309px;
  margin: -234px 229px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 387px;
  height: 477px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,0.4);
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -612px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 387px;
  height: 477px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,0.4);
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -282px auto 0 -11px;
}

.u-section-3 .u-image-4 {
  width: 375px;
  height: 375px;
  margin: -748px auto 60px 272px;
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-right: 83px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 230px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 419px;
    margin-top: -533px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 419px;
    margin-top: -224px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-top: -690px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: url("images/1674270179_catherineasquithgallery-com-p-serii-fon-gradient-tekstura-foto-38.jpg");
  background-position: 50% 18.34%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 831px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 50px 0 40px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 271px 0 12px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5625rem;
  margin: -78px 19px 0 82px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 59px 15px 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 50px 0 40px;
}

.u-section-4 .u-text-4 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 271px 0 12px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5625rem;
  margin: -78px 19px 0 82px;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 59px 15px 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 50px 0 40px;
}

.u-section-4 .u-text-7 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 271px 0 12px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5625rem;
  margin: -78px 19px 0 82px;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 59px 15px 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 50px 0 40px;
}

.u-section-4 .u-text-10 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 271px 0 12px;
}

.u-section-4 .u-text-11 {
  font-size: 1.5625rem;
  margin: -78px 19px 0 82px;
}

.u-section-4 .u-text-12 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 59px 15px 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 50px 0 40px;
}

.u-section-4 .u-text-13 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 271px 0 12px;
}

.u-section-4 .u-text-14 {
  font-size: 1.5625rem;
  margin: -78px 19px 0 82px;
}

.u-section-4 .u-text-15 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 59px 15px 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 50px 0 40px;
}

.u-section-4 .u-text-16 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 271px 0 12px;
}

.u-section-4 .u-text-17 {
  font-size: 1.5625rem;
  margin: -78px 19px 0 82px;
}

.u-section-4 .u-text-18 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 59px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-4 .u-text-18 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5625rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5625rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5625rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.5625rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.5625rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.5625rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-14 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-17 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 39px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 714px;
}

.u-section-5 .u-group-1 {
  min-height: 111px;
  width: 800px;
  height: auto;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 15px 60px 0;
}

.u-section-5 .u-line-1 {
  width: 114px;
  height: 3px;
  transform-origin: right center 0;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 424px;
  background-image: url("images/9c140d39-bbb1-1ddc-7051-0012dc8fa39e.png");
  background-position: 50% 50%;
}

.u-section-5 .u-group-2 {
  min-height: 52px;
  width: 235px;
  height: auto;
  margin: 314px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 5px 0;
}

.u-section-5 .u-image-2 {
  min-height: 424px;
  background-image: url("images/P-nepeivoda-nn-5941.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  min-height: 424px;
  background-image: url("images/scale_1200.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  min-height: 424px;
  background-image: url("images/5c290f7d-18ad-770a-1d6d-f30b549f2a42.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-group-3 {
  min-height: 52px;
  width: 235px;
  height: auto;
  margin: -80px auto 0 320px;
}

.u-section-5 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 5px 0 0;
}

.u-section-5 .u-group-4 {
  min-height: 52px;
  width: 235px;
  height: auto;
  margin: -52px 299px 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 5px 0;
}

.u-section-5 .u-group-5 {
  min-height: 52px;
  width: 235px;
  height: auto;
  margin: -52px 14px 60px auto;
}

.u-section-5 .u-container-layout-9 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-5 .u-line-1 {
    width: 94px;
  }

  .u-section-5 .u-image-1 {
    min-height: 423px;
  }

  .u-section-5 .u-group-2 {
    width: 193px;
    height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-image-2 {
    min-height: 423px;
  }

  .u-section-5 .u-image-3 {
    min-height: 423px;
  }

  .u-section-5 .u-image-4 {
    min-height: 423px;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
  }

  .u-section-5 .u-group-5 {
    height: auto;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-5 .u-line-1 {
    width: 72px;
  }

  .u-section-5 .u-image-1 {
    min-height: 444px;
  }

  .u-section-5 .u-group-2 {
    width: 305px;
    margin-bottom: 40px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-2 {
    min-height: 444px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2702px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
    margin-right: 22px;
    margin-left: 17px;
  }

  .u-section-5 .u-line-1 {
    width: 68px;
    margin-top: 37px;
    margin-left: 236px;
  }

  .u-section-5 .u-group-2 {
    min-height: 47px;
    width: 368px;
    margin-top: 183px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-group-3 {
    margin-left: 305px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1808px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-line-1 {
    width: 57px;
    margin-left: auto;
  }

  .u-section-5 .u-group-2 {
    width: 300px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-group-3 {
    margin-left: 105px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-group-4 {
    margin-right: 105px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-6 {
  background-image: url("images/36ced675fffdf7503938e3778dc8b3ca.jpeg");
  background-position: 50% 0%;
}

.u-section-6 .u-sheet-1 {
  min-height: 577px;
}

.u-section-6 .u-group-1 {
  min-height: 176px;
  width: 800px;
  height: auto;
  margin: 94px auto 60px 148px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 15px 60px 0;
}

.u-section-6 .u-line-1 {
  width: 114px;
  height: 3px;
  transform-origin: right center 0;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-6 .u-group-1 {
    min-height: 186px;
    width: 812px;
    margin-left: 140px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-6 .u-line-1 {
    width: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-6 .u-line-1 {
    width: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-line-1 {
    width: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-group-1 {
    min-height: 259px;
    margin-bottom: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-6 .u-line-1 {
    width: 57px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 573px;
}

.u-section-7 .u-image-1 {
  width: 727px;
  height: 561px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -303px 0 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 385px;
  width: 407px;
  height: auto;
  margin: -40px 139px 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 23px;
}

.u-section-7 .u-text-1 {
  margin: 32px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 15px 12px 0 -11px;
}

.u-section-7 .u-image-2 {
  min-height: 318px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/1ec3418d31329d68493414a0b7c47c0a_w600_h400_cx89_cy0_cw971_ch647.jpg");
  background-position: 50% 50%;
  width: 519px;
  margin: -485px auto 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-7 .u-group-3 {
  min-height: 506px;
  width: 425px;
  margin: -739px auto 400px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: 12px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-7 .u-image-1 {
    width: 580px;
    height: 616px;
    margin-top: -323px;
  }

  .u-section-7 .u-group-1 {
    min-height: 325px;
    width: 336px;
    margin-right: 31px;
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-top: 35px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 35px;
  }

  .u-section-7 .u-image-2 {
    width: 428px;
    margin-top: -417px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-7 .u-group-3 {
    min-height: 445px;
    width: 360px;
    margin-top: -800px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-top: 31px;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-bottom: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-7 .u-image-1 {
    width: 407px;
    height: 598px;
    margin-top: -305px;
  }

  .u-section-7 .u-group-1 {
    min-height: 360px;
    width: 311px;
    margin-top: -34px;
    margin-right: 23px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-2 {
    min-height: 423px;
    width: 349px;
    margin-top: -423px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-7 .u-group-3 {
    min-height: 456px;
    width: 313px;
    margin-top: -879px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 45px;
  }

  .u-section-7 .u-text-4 {
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-7 .u-image-1 {
    height: 433px;
    margin-top: 396px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 264px;
    width: 428px;
    margin-top: 437px;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 25px;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin: 30px 23px 25px -11px;
  }

  .u-section-7 .u-image-2 {
    min-height: 355px;
    margin-top: -650px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-7 .u-group-3 {
    min-height: 305px;
    margin-top: -1176px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-7 .u-text-4 {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1817px;
  }

  .u-section-7 .u-image-1 {
    height: 416px;
    margin-top: 448px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    min-height: 289px;
    margin-top: 566px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin: 56px 0 30px;
  }

  .u-section-7 .u-image-2 {
    min-height: 443px;
    margin-top: -782px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-7 .u-group-3 {
    min-height: 374px;
    margin-top: -1343px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 35px;
  }
}